<% layout("/layouts/boilerplate") %>
<body>
        <h3>All Listings</h3>
        <!-- <form action="/listings/new" method="get">
            <button>Create New Listings</button>
        </form> -->
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-xs-1">
            
            <% for(let listing of allListings){ %>
                <a href="/listings/<%= listing._id %>" class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-xs-1"">
                    <div class="card col cards" >
                        <img src="<%= listing.image.url %>>" class="card-img-top" alt="Listing Image" style="height: 15rem; width: 15rem; ">
                    <div class="card-body">
                        <b> <p class="card-text"> <%= listing.title %></b>
                        <br>
                    &#8377;<%= listing.price.toLocaleString("en-IN") %>/- p/night
                </p>
                </div>
            </div>
        </a> <% } %>
            </div>
            

    <!-- <ul>
        <% for(let listing of allListings){ %>
            <li><a href="/listings/<%= listing._id %>">  <%= listing.title %>  </a> </li>
            <% } %>
        </ul> -->
    </body>
